name: Build and Release

on:
  workflow_dispatch:
  release:
    types: [published]
  push:
    tags: v*
    branches:
      - master
    paths:
      - "**/*.go"
      - "go.mod"
      - "go.sum"
      - ".github/workflows/build.yml"
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - "**/*.go"
      - "go.mod"
      - "go.sum"
      - ".github/workflows/build.yml"
jobs:
  release:
    name: Release pushed tag
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
        if: github.event_name == 'push' && (contains(github.ref, 'refs/tags/'))

      - name: Check release type
        if: github.event_name == 'push' && (contains(github.ref, 'refs/tags/'))
        run: |
            if echo ${{ github.ref_name }} | grep -qP '(alpha|beta|rc)'; then
              echo pre-release=true >> $GITHUB_ENV
            else
              echo pre-release=false >> $GITHUB_ENV
            fi

      - name: Get change log
        if: github.event_name == 'push' && (contains(github.ref, 'refs/tags/'))
        run: |
            git fetch --unshallow
            if [[ "${{ env.pre-release }}" == true ]]; then
              LAST_TAG=$(git describe --tags --abbrev=0 HEAD^)
            else
              LAST_TAG=$(git tag --sort=-v:refname | grep -vE "alpha|beta|rc" | grep -v "${{ github.ref_name }}" | head -1)
            fi
            git log --format="- %h%n%s%n%b" $LAST_TAG...HEAD > changelog.md

      - name: Create release
        if: github.event_name == 'push' && (contains(github.ref, 'refs/tags/'))
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
            gh release create "${{ github.ref_name }}" \
              --repo="$GITHUB_REPOSITORY" \
              --title="${{ github.ref_name }}" \
              $([[ ${{ env.pre-release }} == true ]] && echo --prerelease) \
              -F changelog.md \
              --generate-notes
              
  build:
    permissions:
      contents: write
    strategy:
      matrix:
        # Include amd64 on all platforms.
        goos: [windows, linux, darwin]
        goarch: [amd64, 386]
        exclude:
          # Exclude i386 on darwin
          - goarch: 386
            goos: darwin
        include:
          # BEIGIN MacOS ARM64
          - goos: darwin
            goarch: arm64
          # END MacOS ARM64
          # BEGIN Linux ARM 7 8
          - goos: linux
            goarch: arm
            goarm: 7          
          - goos: linux
            goarch: arm64
          # END Linux ARM 7 8
          # BEGIN Android ARM 8
          - goos: android
            goarch: arm64
          # END Android ARM 8
          # Windows ARM
          - goos: windows
            goarch: arm64
          - goos: windows
            goarch: arm
            goarm: 7
      fail-fast: false

    runs-on: ubuntu-latest
    needs: release
    env:
      GOOS: ${{ matrix.goos }}
      GOARCH: ${{ matrix.goarch }}
      GOARM: ${{ matrix.goarm }}
      CGO_ENABLED: 0
    steps:
      - name: Checkout codebase
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4

      - name: Show workflow information 
        run: |
          export _NAME=$(jq ".[\"$GOOS-$GOARCH$GOARM$GOMIPS\"].friendlyName" -r < .github/build/friendly-filenames.json)
          echo "GOOS: $GOOS, GOARCH: $GOARCH, GOARM: $GOARM, GOMIPS: $GOMIPS, RELEASE_NAME: $_NAME"
          echo "ASSET_NAME=$_NAME" >> $GITHUB_ENV

      - name: Set up Go
        uses: actions/setup-go@0c52d547c9bc32b1aa3301fd7a9cb496313a4491 # v5
        with:
          go-version: 'stable'
          check-latest: true

      - name: Get project dependencies
        run: go mod download
 
      - name: Build
        run: |
          mkdir -p build_assets
          make
          find . -maxdepth 1 -type f -regex './wgcf-cli\(\|.exe\)' -exec mv {} ./build_assets/ \;

      - name: Copy README.md & LICENSE
        run: |
          cp ${GITHUB_WORKSPACE}/README.md ./build_assets/README.md
          cp ${GITHUB_WORKSPACE}/LICENSE ./build_assets/LICENSE

      - name: Create ZIP archive
        shell: bash
        if: github.event_name == 'release' || (github.event_name == 'push' && (contains(github.ref, 'refs/tags/')))
        run: |
          pushd build_assets || exit 1
          touch -mt $(date +%Y01010000) *
          zip -9vr ../wgcf-cli-${{ env.ASSET_NAME }}.zip .
          popd || exit 1
          FILE=./wgcf-cli-${{ env.ASSET_NAME }}.zip
          DGST=$FILE.dgst
          for METHOD in {"md5","sha1","sha256","sha512"};do
            openssl dgst -$METHOD $FILE | sed 's/([^)]*)//g' >>$DGST
          done

      - name: Change the name
        run: |
          mv build_assets wgcf-cli-${{ env.ASSET_NAME }}

      - name: Upload files to Artifacts
        uses: actions/upload-artifact@5d5d22a31266ced268874388b861e4b58bb5c2f3 # v4
        with:
          name: wgcf-cli-${{ env.ASSET_NAME }}
          path: |
            ./wgcf-cli-${{ env.ASSET_NAME }}/*

      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@1beeb572c19a9242f4361f4cee78f8e0d9aec5df # v2
        if: github.event_name == 'release' || (github.event_name == 'push' && (contains(github.ref, 'refs/tags/')))
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ./wgcf-cli-${{ env.ASSET_NAME }}.zip*
          tag: ${{ github.ref }}
          file_glob: true
